{% extends "base.html" %}
{% block title %} Main Page {% endblock %}

{% block bodyContent %}
<div class="container-fluid padding_dd">
    <div>
        {% block breadcrumb %}{% endblock %}
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4" style="padding-left: 90px;">
            <div class="text-bg">
                <h1>My Recent Search</h1>
                <div class="images_box">
                    <figure><img src="/static/images/food.jpg"></figure>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8" style="padding-left: 110px;">
            <div class="text-bg">
                <h1>Search</h1>
                <form class="Ingredients">
                    <p>Main Ingredient:<br><input class="Ingredients_fom" placeholder="Main Ingredient..." type="text"
                                                   name="main_ingredient"></p>
                    <p>Side Ingredients:<br><input class="Ingredients_fom" placeholder="Side Ingredients..." type="text"
                                                   name="side_ingredients"></p>
                </form>
                <a href="#">Visual Search</a> <a href="#">Text Search</a>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}