{% extends "base.html" %}
{% block title %} Text Search {% endblock %}

{% block navbarContent %}
<ul class="menu-area-main">
    <li>User ID: {{ user_id }}</li>
    <li class="active">
        <a href="{{ url_for('main.initial_search', user_id=user_id, db_connected=db_connected) }}">Home</a>
    </li>
    <li>
        <a href="{{ url_for('auth.logout') }}">
            <img class="logout_btn" src="/static/icon/logout.png" alt="logout"/>
        </a>
    </li>
</ul>
{% endblock %}
{% block bodyContent %}
    <div class="column is-6 is-offset-2 box">
                <h1>Your Recommended Recipes!</h1>
                <hr>
                <h6>Main ingredients: {% for ingredient in main_ingredients %} {{ ingredient }} {% endfor %}</h6>
                <h6>Side ingredients: {% for ingredient in side_ingredients %} {{ ingredient }} {% endfor %}</h6>
                <hr>
                <h5><strong>Matching Recipes</strong></h5>
                <table>
                    <tr>
                        <th>Name</th>
                    </tr>
                    {%  for recipe in matching_recipes %}
                    <tr>
                        <td><a href="{{ url_for('displayRecipe.display_recipe', recipe_id=recipe.recipeID, user_id=user_id) }}">{{recipe.recipeName}}</a></td>
                    </tr>
                    {% endfor %}
                </table>
                <hr>
                <h5><strong>Content Based Filter</strong></h5>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                    {%  for recipe in content_based %}
                    <tr>
                        <td><a href="{{ url_for('displayRecipe.display_recipe', recipe_id=recipe.recipeID, user_id=user_id) }}">{{recipe.Name}}</a></td>
                        <td>{{ recipe.score }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <hr>
                <h5><strong>Collaborative Filter</strong></h5>
                <table>
                    <tr>
                        <th>Name</th>
                    </tr>
                    {%  for recipe in collab_filter %}
                    <tr>
                        <td><a href="{{ url_for('displayRecipe.display_recipe', recipe_id=recipe.recipeID, user_id=user_id) }}">{{recipe.Name}}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
{% endblock %}