{% extends "base.html" %}
{% block bodyContent %}
    <div class="column is-4 is-offset-4 box">
                <h2>Recommended Recipes</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Nutritional Information</th>
                        <th>Related Ingredients</th>
                    </tr>
                    <tr>
                        <td>Recipe 1</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Recipe 2</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Recipe 3</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
{% endblock %}