{% extends "base.html" %}
{% block bodyContent %}
    <div class="column">
        <table>
        <tr>
            <td>
            <div class="box">
                <h2>Main Ingredient</h2>
                <div class="field">
                <div class="control">
                    <input class="input is-small" type="text" name="main-ingredient" autofocus="">
                </div>
            </div>
            </div>

            <div class="box">
                <h2>Side Ingredients</h2>
                <div class="field">
                <div class="control">
                    <input class="input is-small" type="text" name="side-ingredient" autofocus="">
                </div>
                <div class="field">
                <div class="control">
                    <input class="input is-small" type="text" name="side-ingredient" autofocus="">
                </div>
                <div class="field">
                <div class="control">
                    <input class="input is-small" type="text" name="side-ingredient" autofocus="">
                </div>
            </div>
            </div>
            <td>

        <td>
            <button>Search</button>
        </td>

        <td>
            <div class="column box">
                <h2>Recommended Recipes</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Nutritional Information</th>
                        <th>Related Ingredients</th>
                    </tr>
                    <tr>
                        <td>Recipe 1</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Recipe 2</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Recipe 3</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </td>
        </tr>
    </table>
    </div>
{% endblock %}