{% extends "base.html" %}

{% block title %} Visual Search {% endblock %}

{% block jQueryPlugin %}
<script type="text/javascript" src="/static/js/d3.v5.min.js"></script>
<script type="text/javascript" src="/static/js/d3-tip.min.js"></script>
<script type="text/javascript" src="/static/js/d3-recipe-graphs.js"></script>
{% endblock %}

{% block navbarContent %}
<ul class="menu-area-main">
    <li>User ID: {{ user_id }}</li>
    <li class="active">
        <a href="{{ url_for('main.initial_search', user_id=user_id, db_connected=db_connected) }}">Home</a>
    </li>
    <li>
        <a href="{{ url_for('auth.logout') }}">
            <img class="logout_btn" src="/static/icon/logout.png" alt="logout"/>
        </a>
    </li>
</ul>
{% endblock %}

{% block bodyContent %}
<div id="recipeGraph"></div>

<script>
    // handle query data
    var graphData = {{result.data | safe}},
        nodes = {},
        links = [];

    nodes[0] = { name: 'Input Ingredients' };
    graphData.forEach(function (data) {
        nodes[data.recipeID] = { name: data.recipeName };
        links.push({ source: nodes[0], target: nodes[data.recipeID] });
    });

    draw_graph_q1(nodes, links, "#recipeGraph");
</script>
{% endblock %}