{% extends "base.html" %}

{% block title %} Visual Search {% endblock %}

{% block jQueryPlugin %}
<script type="text/javascript" src="/static/js/d3.v5.min.js"></script>
<script type="text/javascript" src="/static/js/d3-tip.min.js"></script>
<script type="text/javascript" src="/static/js/d3-recipe-graphs.js"></script>
{% endblock %}

{% block navbarContent %}
<ul class="menu-area-main">
    <li>User ID: {{ user_id }}</li>
    <li class="active">
        <a href="{{ url_for('main.initial_search', user_id=user_id, db_connected=db_connected) }}">Home</a>
    </li>
    <li>
        <a href="{{ url_for('auth.logout') }}">
            <img class="logout_btn" src="/static/icon/logout.png" alt="logout"/>
        </a>
    </li>
</ul>
{% endblock %}

{% block bodyContent %}
<form action="{{ url_for('visualSearch.matching_recipes', user_id=user_id, main_ingredients=main_ingredients, side_ingredients=side_ingredients) }}"
      method="POST">
    <button class="tablink" type="submit" name="tab_type" value="recipe">
        Recommend Recipes
    </button>
    <button class="tablink" type="submit" name="tab_type" value="ingredient">
        Additional Ingredients
    </button>

    <br>
    <!--Q2-->
    <button style="display: none" class="tablink" type="submit" name="tab_type" value="contentBased">
        Content-Based Filtering
    </button>
    <!--Q3-->
    <button style="display: none" class="tablink" type="submit" name="tab_type" value="collaborative">
        Collaborative Filtering
    </button>
    <!--Q5-->
    <button style="display: none" class="tablink" type="submit" name="tab_type" value="usedIngredients">
        Used Ingredients
    </button>
    <!--Q7-->
    <button style="display: none" class="tablink" type="submit" name="tab_type" value="userRatings">
        User Ratings
    </button>
</form>

<div id="recipeGraph"></div>

<script>
    // handle tab vis
    var selectedTab = {{tab_type | tojson}},
        tabLinks = document.getElementsByClassName("tablink");

    for (i = 0; i < tabLinks.length; i++) {
        if(tabLinks[i].value === selectedTab) {
            tabLinks[i].disabled = "true";
        }
      }

    // handle query data
    var graphData = {{result.data | safe}},
        nodes = {},
        links = [];

    nodes[0] = { name: 'Input Ingredients' };
    graphData.forEach(function (data) {
        nodes[data.recipeID] = { name: data.recipeName };
        links.push({ source: nodes[0], target: nodes[data.recipeID] });
    });

    draw_graph_q1(nodes, links, "#recipeGraph");
</script>
{% endblock %}